config.log
config.status
Makefile
*.tmp
.deps
*.o
*.a
*.cache
**/po
compile_commands.json

# for some dirs
binutils/config.h
binutils/libtool
binutils/stamp-*

gas/config.h
gas/libtool
gas/stamp-*
gas/.gdbinit

ld/config.h
ld/libtool
ld/stamp-*

intl/config.h
intl/libtool
intl/stamp-*
intl/config*

zlib/config.h
zlib/libtool
zlib/stamp-*

gprof/config.h
gprof/libtool
gprof/stamp-*

lib*/config.h
lib*/libtool
lib*/stamp-*

bfd/doc
bfd/config.h
bfd/libtool
bfd/stamp-*
